p {
    text-align: center;
    bacrground: #CCCCCC
}
body { 
       bacrground: #CCCCCC;
}
p { 
    text-align: center;
}
em strong { 
     color: red;
}
#missao { 
          font-size: 20px
}
#banner { 
          width: 100%;
}

.principal {
    bacrground: #CCCCCC;
}

.itens { 
         font-style: italic;
}
.benefícios { 
     bacrground: #FFFFFF;
}
h2 {
     text-align: center;
}
.imagembenefícios {
    width: 50%;
}
ul { 
     display: inline-block; 
     vertical -aling: top;
     width: 20%;
     margin-right: 15%
}
